.ShopCategory {
  .CategoryBanner {
    display: block;
    margin: 30px auto;
    width: 82%;
  }
  .CategoryIndexSort {
    display: flex;
    margin: 0 170px;
    justify-content: space-between;
    align-items: center;
    p,
    span {
      font-weight: 600;
    }
  }
  .CategorySort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
  }
  .CategoryProduct {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
  }
  .CategoryLoadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background-color: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 1280px) {
  .ShopCategory {
    .CategoryBanner {
      margin: 20px auto;
      width: 90%;
    }
    .CategoryIndexSort {
      width: 90%;
      margin: auto;
    }
    .CategorySort {
      padding: 5px 10px;
      font-size: 12px;
      p {
        font-size: 12px;
      }
    }
    .CategoryProduct {
      width: 90%;
      margin: 10px auto;
      row-gap: 40px;
    }
    .CategoryLoadmore {
      margin: 100px auto;
      width: 200px;
      height: 60px;
      font-size: 16px;
    }
  }
}
@media (max-width: 800px) {
  .ShopCategory {
    .CategoryBanner {
      width: 95%;
    }
    .CategoryProduct {
      width: 95%;
    }
    .CategoryLoadmore {
      margin: 60px auto;
      width: 150px;
      height: 40px;
      font-size: 13px;
    }
  }
}

@media (max-width: 500px) {
  .ShopCategory {
    .CategoryProduct {
      grid-template-columns: 1fr 1fr;
    }
  }
}
