.SignUp {
  width: 100%;
  height: 80vh;
  background-color: #fce3fe;
  padding-top: 100px;
  .Container {
    width: 580px;
    height: 600px;
    background-color: white;
    margin: auto;
    padding: 40px 60px;
    h1 {
      margin: 20px 0px;
    }
    button {
      width: 580px;
      height: 72px;
      color: white;
      margin-top: 30px;
      border: none;
      font-size: 24px;
      font-weight: 500;
      cursor: pointer;
      background-color: #ff4141;
    }
    .Fields {
      display: flex;
      flex-direction: column;
      gap: 29px;
      margin-top: 30px;
      input {
        height: 72px;
        width: 100%;
        padding-left: 20px;
        border: 1px solid #c9c9c9;
        outline: none;
        color: #5c5c5c;
        font-size: 18px;
      }
    }
    .Login {
      margin-top: 20px;
      color: #5c5c5c;
      font-size: 18px;
      font-weight: 500;
      span {
        color: #ff4141;
        font-weight: 600;
      }
    }
    .Agree {
      display: flex;
      align-items: center;
      margin-top: 25px;
      gap: 20px;
      color: #5c5c5c;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

@media (max-width: 1280px) {
  .SignUp {
    padding-top: 50px;
    .Container {
      max-width: 500px;
      max-height: 500px;
      width: auto;
      h1 {
        margin: 10px 0px;
      }
      button {
        width: 100%;
      }
      .Fields {
        gap: 20px;
        margin-top: 20px;
        input {
          height: 65px;
          width: 93%;
        }
      }
      .Login {
        font-size: 16px;
        span {
          color: #ff4141;
          font-weight: 600;
        }
      }
      .Agree {
        gap: 10px;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 800px) {
  .SignUp {
    .Container {
      padding: 20px 30px;
      h1 {
        font-size: 24px;
      }
      button {
        height: 50px;
        font-size: 16px;
      }
      .Fields {
        margin-top: 20px;
        input {
          height: 50px;
          width: 93%;
        }
      }
    }
  }
}
