.Hero {
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
  .HeroLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
    h2 {
      color: #090909;
      font-size: 26px;
      font-weight: 600;
    }
    p {
      color: #171717;
      font-size: 100px;
      font-weight: 700;
    }
    .HeroHandIcon {
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        width: 105px;
      }
    }
    .HeroLatestBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      width: 310px;
      height: 70px;
      border-radius: 75px;
      margin-top: 30px;
      background: #ff4141;
      color: white;
      font-size: 22px;
      font-weight: 500;
    }
  }
  .HeroRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1280px) {
  .Hero {
    .HeroLeft {
      padding-left: 100px;
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 60px;
      }
      .HeroHandIcon img {
        width: 80px;
      }
      .HeroLatestBtn {
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
      }
    }
    .HeroRight {
      img {
        width: 500px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .Hero {
    .HeroLeft {
      padding-left: 80px;
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 50px;
      }
      .HeroHandIcon img {
        width: 65px;
      }
      .HeroLatestBtn {
        width: 220px;
        height: 50px;
        font-size: 16px;
      }
    }
    .HeroRight {
      img {
        width: 400px;
      }
    }
  }
}
@media (max-width: 800px) {
  .Hero {
    .HeroLeft {
      padding-left: 30px;
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 40px;
      }
      .HeroHandIcon img {
        width: 50px;
      }
      .HeroLatestBtn {
        width: 175px;
        height: 40px;
        font-size: 13px;
      }
    }
    .HeroRight {
      img {
        width: 300px;
      }
    }
  }
}
@media (max-width: 500px) {
  .Hero {
    flex-direction: column;
    .HeroRight {
      display: none;
    }
  }
}
